<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>PairCourse</servlet-name>
		<servlet-class>risyu_ms.PairCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PairCourse</servlet-name>
		<url-pattern>/pair</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>risyu_ms.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>risyu_ms.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<filter>
    	<filter-name>logincheck</filter-name>
   		<filter-class>risyu_ms.LoginCheckFilter</filter-class>
	</filter>
	
	<filter-mapping>
    	<filter-name>logincheck</filter-name>
   		<url-pattern>/main.jsp</url-pattern>
	</filter-mapping>    
     
	<servlet>
    	<servlet-name>logout</servlet-name>
    	<servlet-class>risyu_ms.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>logout</servlet-name>
    	<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
</web-app>

